version: '3.5'
services:
  aws:
    image: 'localstack/localstack'
    container_name: 'localstack'
    environment:
      - SERVICES=s3
      - DEFAULT_REGION=us-east-1
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=accessKey
      - AWS_SECRET_ACCESS_KEY=secretKey
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
      - HOSTNAME_EXTERNAL=localhost
      - PORT_WEB_UI=8082
    ports:
      - '4566:4566'
      - '8082:8082'
    volumes:
      - ./infra/localstack:/docker-entrypoint-initaws.d
  app-r:
    container_name: app-resource
    image: app-resource
    build:
      context: ./ResourceApplication
    ports:
      - "8080:8080"
    expose:
      - 8080
    networks:
      - proxy-net
      - internal-r
    depends_on:
      - db-r
      - aws
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db-r:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
      - DEFAULT_REGION=us-east-1
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=accessKey
      - AWS_SECRET_ACCESS_KEY=secretKey
      - DEBUG=1
  db-r:
    image: postgres
    ports:
      - "5432:5432"
    networks:
      - internal-r
    expose:
      - 5432
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
  app-s:
    container_name: app-song
    image: app-song
    build:
      context: ./SongApplication
    ports:
      - "8090:8090"
    expose:
      - 8090
    networks:
      - proxy-net
      - internal-s
    depends_on:
      - db-s
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db-s:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update
  db-s:
    image: postgres
    ports:
      - "54321:5432"
    networks:
      - internal-s
    expose:
      - 54321
      - 5432
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
  app-p:
    container_name: app-processor
    image: app-processor
    build:
      context: ./ResourceProcessor
    ports:
      - "8081:8081"
    expose:
      - 8081
    networks:
      - proxy-net
networks:
  proxy-net:
    name: proxy-net
  internal-s:
    name: internal-s
  internal-r:
    name: internal-r